:root {
    --H-font: 'Oswald', sans-serif;
    --common-font: 'Ubuntu', sans-serif;
    --light-weight: 300;
    --regular-weight: 400;
    --medium-weight: 500;
    --bold-weight: 700;
    --main-font-color: #FEFEFE;
    --secondary-font-color: #CFCFCF;
    --line-height1: 120%;
    --line-height2: 150%;
}

h1, h2, h3, h4, h5 {
    line-height: var(--line-height2);
    font-family: var(--H-font);
    color: var(--main-font-color);
}

p, input, button, header, footer {
    line-height: var(--line-height1);
    font-family: var(--common-font);
    color: var(--secondary-font-color);
    font-weight: var(--light-weight);
}

h1, h2 {
    font-weight: var(--bold-weight);
}

h3, h4 {
    font-weight: var(--medium-weight);
}

h5{
    font-weight: var(--regular-weight);
}

body{
    background-color: #14213D;
}